<%= form_for @job do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description, size: '60x6' %>
	</div>
	<div>
		<%= f.label :city %>
		<%= f.text_field :city %>
	</div>
	<div>
		<%= f.label :state %>
		<%= f.text_field :state %>
	</div>
	<div>
		<%= f.label :posted %>
		<%= f.date_field :posted %>
	</div>
	</div>
	<div>
		<%= f.collection_select :role_id, Role.all, :id, :role_type %>
	</div>
	<div>
		<%= f.collection_select :industry_id, Industry.all, :id, :industry_type %>
	</div>
	<div>
		<%= f.collection_select :experience_id, Experience.all, :id, :level %>
	</div>
	<div>
	<%= f.submit %>
	</div>
<% end %>


    	
